// Global CSS for this module type

.fl-module-ambbb-image {
  &--has-image-fit {
    align-items: stretch;
    display: flex;

    .fl-module-content,
    .ambbb-image,
    .ambbb-image__image-area {
      align-items: stretch;
      display: flex;
      flex-grow: 1;
    }
  }
}

.ambbb-image {

  margin: 0; // remove margins from figure

  &__image {

    display: block;
    height: auto;
    width: 100%;

    &--object-fit{

      &\:contain {
        object-fit: contain;
      }

      &\:cover {
        object-fit: cover;
      }

    }

  }

}