// Global CSS for this module type

.ambbb-image-grid {

  --ambbb-image-grid-gap: 1rem;
  --ambbb-image-grid-cols: 1;
  --ambbb-image-grid-margin: 0;
  --ambbb-image-grid-figure-width: 100%;

  margin: calc( -1 * var( --ambbb-image-grid-margin ) );

  &--layout {

    &\:flexbox {
      --ambbb-image-grid-margin: calc( var( --ambbb-image-grid-gap ) / 2 );
      --ambbb-image-grid-figure-width: calc( 100% / var( --ambbb-image-grid-cols ) - var( --ambbb-image-grid-gap ) );
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: flex-start;
    }

    &\:grid {
      display: grid;
      gap: var( --ambbb-image-grid-gap, 0 );
      grid-template-columns: repeat( var( --ambbb-image-grid-cols ), 1fr );
    }
  }

  &__figure {
    display: block;
    margin: var( --ambbb-image-grid-margin );
    width: var( --ambbb-image-grid-figure-width );
  }

  &__image-area {

    &--proportion {

      &\:landscape,
      &\:square,
      &\:portrait {
        position: relative;
      }

      &\:landscape::before,
      &\:square::before,
      &\:portrait::before {
        content: '';
        display: block;
      }

      &\:landscape img,
      &\:square img,
      &\:portrait img {
        position: absolute;
        top: 0; right: 0; bottom: 0; left: 0;
        width: 100%; height: 100%;
      }

      &\:landscape::before {
        padding-top: calc( 100% * 2 / 3 );
      }

      &\:square::before {
        padding-top: calc( 100% * 1 / 1 );
      }

      &\:portrait::before {
        padding-top: calc( 100% * 3 / 2 );
      }

    }

  }

  &__image {
    display: block;
    height: auto;
    width: 100%;

    &--object-fit{

      &\:contain {
        object-fit: contain;
      }

      &\:cover {
        object-fit: cover;
      }

    }
  }

}