// CSS classes for flexbox

.ambbb-fl-row--flex-container {

  // .fl-row-content-wrap
  // .fl-row-content
  // stretch contained elements
  &,
  .fl-row-content-wrap,
  .fl-row-content {
    align-items: stretch;
    display: flex;
  }
  .fl-row-content-wrap,
  .fl-row-content,
  .fl-col-group {
    flex: 1;
  }

  // actual flex container
  .fl-col-group {
    display: flex;
    align-content: var( --ambbb-fl-row__align-content, stretch );
    align-items:  var( --ambbb-fl-row__align-items, stretch );
    flex-direction:  var( --ambbb-fl-row__flex-direction, row );
    justify-content:  var( --ambbb-fl-row__justify-content, flex-start );

    // take pseudo-elements out of the equation
    // they're used by the builder for float clearing
    &::before,
    &::after {
      display: none;
    }
  }

  .fl-col {
    width: initial; // override width specified in builder
  }

  .fl-col-content {
    flex-grow: 1;
  }


}

.ambbb-fl-col--flex-item {

  // item props
  align-self: var( --ambbb-fl-column__align-self, auto );
  order: var( --ambbb-fl-column__order, 0 );
  flex-grow: var( --ambbb-fl-column__flex-grow, 0 );
  flex-shrink: var( --ambbb-fl-column__flex-shrink, 1 );
  flex-basis: var( --ambbb-fl-column__flex-basis, auto );

}

.ambbb-fl-col--flex-container {

  // stretch contained elements
  & {
    align-items: stretch;
    display: flex;
  }
  .fl-col-content {
    flex: 1;
  }

  // actual flex container
  .fl-col-content {
    display: flex;
    align-content: var( --ambbb-fl-column__align-content, stretch );
    align-items:  var( --ambbb-fl-column__align-items, stretch );
    flex-direction:  var( --ambbb-fl-column__flex-direction, row );
    justify-content:  var( --ambbb-fl-column__justify-content, flex-start );
  }

}

.ambbb-fl-module--flex-item {

  // item props
  align-self: var( --ambbb-fl-module__align-self, auto );
  order: var( --ambbb-fl-module__order, 0 );
  flex-grow: var( --ambbb-fl-module__flex-grow, 0 );
  flex-shrink: var( --ambbb-fl-module__flex-shrink, 1 );
  flex-basis: var( --ambbb-fl-module__flex-basis, auto );

}

.ambbb-fl-module--flex-container {

  // stretch contained elements
  & {
    align-items: stretch;
    display: flex;
  }
  .fl-module-content {
    flex: 1;
  }

  // actual flex container
  .fl-module-content {
    display: flex;
    align-content: var( --ambbb-fl-module__align-content, stretch );
    align-items:  var( --ambbb-fl-module__align-items, stretch );
    flex-direction:  var( --ambbb-fl-module__flex-direction, row );
    justify-content:  var( --ambbb-fl-module__justify-content, flex-start );
  }

}

