// Global CSS for this module type

.ambbb-slider {

  &__viewport {
    align-items: stretch;
    display: flex;
    max-width: 100%;
    overflow-x: scroll;
    position: relative;
    -webkit-overflow-scrolling: touch;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

    // hide scrollbars
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }

    // proportional height
    &:before {
      content: '';
      display: block;
      padding-top: 50%;
      width: 0;
    }
  }

  &__slide {
    flex: none;
    scroll-snap-align: start;
    width: 100%;
  }


  // &__viewport {
  //   box-shadow: 0 2px 4px red;
  //   max-width: 100%;
  //   position: relative;
  //   &:before {
  //     content: '';
  //     display: block;
  //     padding-top: 50%;
  //     width: 0;
  //   }
  // }

  // &__slide {
  //   background: mix( white, yellow );
  //   border: 10px solid yellow;
  //   height: 100%;
  //   position: absolute;
  //     top: 0; right: 0; bottom: 0; left: 0;
  //   width: 100%;

  //   // final position
  //   transform: translateX( 100% );

  //   &.active {
  //     transform: translateX( 0% );
  //   }

  //   &.active ~ & {
  //     transform: translateX( -100% );
  //   }
  // }

}
